﻿@using eDaybookWebAdmin.Models
@model ClientModel
@{
    ViewBag.Title = "EditClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Client</h2>
@using (Html.BeginForm("EditClient", "Client", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{

    <div class="row">
        <table border="0" width="800px">
            <tr>
                <td class="control-label" width="300">Name</td>
                <td width="500">Need to Know</td>
            </tr>
            <tr>
                <td>
                    @Html.EditorFor(m => m.Firstname, new { @class = "form-control" })
                </td>
                <td rowspan="6">
                    @Html.TextAreaFor(m => m.Keyinfo, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td class="control-label">Address</td>
            </tr>

            <tr>
                <td>
                    @Html.EditorFor(m => m.Address1, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.EditorFor(m => m.Address2, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>Postcode</td>
            </tr>
            <tr>
                <td> @Html.EditorFor(m => m.Postcode, new { @class = "form-control" })</td>

            </tr>
            <tr>
                <td>Telephone</td>
                <td>Add a Photo</td>
            </tr>
            <tr>
                <td>  @Html.EditorFor(m => m.Telephone, new { @class = "form-control" })</td>
                <td><input type="file" id="fileToUpload" name="file" /></td>

            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

        </table>


        <table border="1" width="600px">
            <tr>
                <td class="auto-style3">Visit Type</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Web</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
                <td>Sun</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style3">Morning Visit</td>
                <td><input id="MonMorningChk" type="checkbox" /></td>
                <td><input id="TueMorningChk" type="checkbox" /></td>
                <td><input id="WebMorningChk" type="checkbox" /></td>
                <td><input id="ThuMorningChk" type="checkbox" /></td>
                <td><input id="FriMorningChk" type="checkbox" /></td>
                <td><input id="SatMorningChk" type="checkbox" /></td>
                <td><input id="SunMorningChk" type="checkbox" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style3">Lunch Visit</td>
                <td><input id="MonLunchChk" type="checkbox" /></td>
                <td><input id="TueLunchChk" type="checkbox" /></td>
                <td><input id="WebLunchChk" type="checkbox" /></td>
                <td><input id="ThuLunchChk" type="checkbox" /></td>
                <td><input id="FriLunchChk" type="checkbox" /></td>
                <td><input id="SatLunchChk" type="checkbox" /></td>
                <td><input id="SunLunchChk" type="checkbox" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style3">Evening Visit</td>
                <td><input id="MonEveningChk" type="checkbox" /></td>
                <td><input id="TueEveningChk" type="checkbox" /></td>
                <td><input id="WebEveningChk" type="checkbox" /></td>
                <td><input id="ThuEveningChk" type="checkbox" /></td>
                <td><input id="FriEveningChk" type="checkbox" /></td>
                <td><input id="SatEveningChk" type="checkbox" /></td>
                <td><input id="SunEveningChk" type="checkbox" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="align-items:flex-end" colspan="9"><input id="Button1" type="button" value="Add new Visit Type" /></td>
            </tr>
        </table>





        <table border="0" width="600px">

            <tr>
                <td class="control-label">Recent History</td>
                <td style="width:60%">
                    @Html.EditorFor(m => m.Recenthistory)
                </td>
            </tr>
            <tr>
                <td class="control-label">Health History</td>
                <td style="width:60%"> @Html.EditorFor(m => m.Healthhistory)</td>
            </tr>
            <tr>
                <td class="control-label">Social History</td>
                <td style="width:60%">  @Html.EditorFor(m => m.Socialhistory)</td>
            </tr>
            <tr>
                <td class="control-label">Circle of support and Contacts</td>
                <td style="width:60%">  @Html.EditorFor(m => m.Circlesupp)</td>
            </tr>

        </table>
        <table>
            <tr>

                <td><input type="submit" value="Save" class="btn btn-default" /></td>
            </tr>
        </table>
    </div>
}

