﻿@using eDaybookWebAdmin.Models
@model ClientModel
@{
    ViewBag.Title = "EditClientVisit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Client Visit Details</h2>
@using (Html.BeginForm("EditClientVisit", "Client", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    <div class="row">
        <table border="0" width="800px">
            <tr>
                <td class="control-label" width="200"> Client Name </td>
                <td>
                    @Html.EditorFor(m => m.Firstname, new { @class = "form-control" })
                </td>

            </tr>
            <tr>
                <td class="control-label" width="200">Visit Time </td>

                <td>
                    @Html.TextAreaFor(m => m.Keyinfo, new { @class = "form-control" })
                </td>
            </tr>

            <tr>
                <td class="control-label" width="200">Visit Type Name </td>
                <td>
                    @Html.TextAreaFor(m => m.Keyinfo, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

            </tr>
        </table>

        <table border="1" width="600px">
            <tr>
                <td style="align-items:flex-start" colspan="8">Visit days</td>
            </tr>
            <tr>

                <td>Mon</td>
                <td>Tue</td>
                <td>Web</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
                <td>Sun</td>
                <td>&nbsp;</td>
            </tr>
            <tr>

                <td><input id="MonChk" type="checkbox" /></td>
                <td><input id="TueChk" type="checkbox" /></td>
                <td><input id="WebChk" type="checkbox" /></td>
                <td><input id="ThuChk" type="checkbox" /></td>
                <td><input id="FriChk" type="checkbox" /></td>
                <td><input id="SatChk" type="checkbox" /></td>
                <td><input id="SunChk" type="checkbox" /></td>
                <td>&nbsp;</td>
            </tr>


        </table>






        <table border="0" width="600px">

            <tr>
                <td class="control-label">Description</td>
                <td style="width:60%">
                    @Html.TextAreaFor(m => m.Recenthistory)
                </td>
            </tr>
            <tr>
                <td class="control-label">Description</td>
                <td style="width:60%"> @Html.TextAreaFor(m => m.Healthhistory)</td>
            </tr>
            <tr>
                <td class="control-label">Description</td>
                <td style="width:60%">  @Html.TextAreaFor(m => m.Socialhistory)</td>
            </tr>

            <tr>
                <td style="align-items:flex-end" colspan="2"><input id="Button1" type="button" value="Add new task" /></td>
            </tr>
        </table>
        <table>
            <tr>

                <td><input type="submit" value="Save and return to client" class="btn btn-default" /></td>
            </tr>
        </table>
    </div>
}


