@using WebApplication4.Models
@model IEnumerable<WebApplication4.Models.ClientModel>
@{
    ViewBag.Title = "eDaybook Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br /><br /><br /><br />
@foreach(var item in Model)
{

        <div class="row">
        <div class="col-md-4">
            <table border="1" width="600px">
                <tr>
                    <td width="200px"><a><img src="~/Images/dummyimage.jpg" alt="Employee Photo" border="0" /></a></td>
                    <td width="400px">@item.Firstname <br /><br /> @item.Healthhistory</td>
                </tr>
                <tr>
                    <td colspan="2" height="10"></td>
                </tr>
            </table>
            </div>
        </div>
    
}



